/* hide drawers */
/*
#reveal1.pattern-1-drawer-container,
.pattern-1-drawer-content-container,
#academics-content,
#student-life-content,
#learn-by-doing-content,
#study-abroad-content {
  display: none !important;
}
*/

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 300px;
  margin: -260px 0 0;
  @include tablet-portrait {
    height: 500px;
    margin: -460px 0 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.leadin {
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1.125em;
  text-transform: uppercase;
}

/* general hide show classes */

@media only screen and (max-width: 768px) {
  .sm-hide { display: none; }
}
@media only screen and (max-width: 415px) {
  .xs-hide { display: none; }
}

/* hide and show desktop and mobile content */

section#drawers-wrapper { display: block; }
section#mobile-drawers-wrapper { display: none; }

@media only screen and (max-width: 992px) {
section#drawers-wrapper { display: none; }
section#mobile-drawers-wrapper { display: block; }
}

/* drawers - mobile */

.drawer-mobile {
  padding: 40px 40px 40px 40px;
  background-color: $gray-light;
  @include tablet-portrait {
    padding: 20px 20px 20px 20px;
  }
}

#academics-content-mobile #stat-carrousel.col-flex img {
  @include tablet-portrait {
    min-width: 100% !important;
  }
}

#intramural-sports.stat-panel {
  background: $gold;
}

#academics-image,
#student-life-image,
#learn-by-doing-image,
#study-abroad-image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include phone-portrait {
    height: 50vh;
  }
}

#academics-image {
  background-image: url(../images/pattern-1-bg-academics.jpg);
}

#student-life-image {
  background-image: url(../images/pattern-1-bg-student-life-grid-left-lurec-bridge.jpg);
}

#learn-by-doing-image {
  background-image: url(../images/pattern-1-bg-learn-by-doing-radio.jpg);
}

#study-abroad-image {
  background-image: url(../images/pattern-1-bg-study-abroad.jpg);
}

#overview-overlay .loyola-experience-inset img {
  margin-top: -1em;
  width: 150px;
  height: auto;
  @include tablet-portrait {
    width: 100px;
  }
  @include phone-portrait {
    width: 100%;
    margin-top: 0;
    margin: 0;
  }
  img {
    width: 3em;
  }
}

@media only screen and (max-width: 992px) {

.example-tabs-tabs__list {
  display: inline-block;
  margin-bottom: .25em !important;
  width: 100%;
}
.example-tabs-tabs__item {
  display: inline;
  width: auto !important;
}

.requirements-table .c-table__row,
.requirements-table .c-table__head,
.requirements-table .c-table__body {
  display: block;
  border-left: solid 1px #000000;
}

.requirements-table .c-table__cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
}

.requirements-table h6,
.requirements-table .c-table__cell span.key-symbol {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  width: 50%;
  height: 100%;
  border: none;
}

.requirements-table .c-table__cell span.key-symbol {
  border-left: solid 1px #000000;
}

}
