/* hide drawers */
/*
#reveal1.pattern-1-drawer-container,
.pattern-1-drawer-content-container,
#academics-content,
#student-life-content,
#learn-by-doing-content,
#study-abroad-content {
  display: none !important;
}
*/

html {
  scroll-behavior: smooth;
}
/*
:target:before {
  content: "";
  display: block;
  height: 300px;
  margin: -260px 0 0;
  @include tablet-portrait {
    height: 500px;
    margin: -460px 0 0;
  }
}
*/
body {
  margin: 0;
  padding: 0;
}

.leadin {
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.col-100 {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.col-50 {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
}

.tuition-table { display: flex; }

/* general hide show classes */

@media only screen and (max-width: 768px) {
  .sm-hide { display: none; }
}
@media only screen and (max-width: 415px) {
  .xs-hide { display: none; }
}

/* hide and show desktop and mobile content */

section#drawers-wrapper { display: block; }
section#mobile-drawers-wrapper { display: none; }

@media only screen and (max-width: 992px) {
section#drawers-wrapper { display: none; }
section#mobile-drawers-wrapper { display: block; }
}

#intramural-sports.stat-panel {
  background: $gold;
}

#academics-image,
#student-life-image,
#learn-by-doing-image,
#study-abroad-image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include phone-portrait {
    height: 50vh;
  }
}

#academics-image {
  background-image: url(../images/pattern-1-bg-academics.jpg);
}

#student-life-image {
  background-image: url(../images/pattern-1-bg-student-life-grid-left-lurec-bridge.jpg);
}

#learn-by-doing-image {
  background-image: url(../images/pattern-1-bg-learn-by-doing-radio.jpg);
}

#study-abroad-image {
  background-image: url(../images/pattern-1-bg-study-abroad.jpg);
}

/* overlay drawers */


@media only screen and (max-width: 992px) {
.pattern-2-slidein-container {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
}
