/* hide drawers */
/*
#reveal1.pattern-1-drawer-container,
.pattern-1-drawer-content-container,
#academics-content,
#student-life-content,
#learn-by-doing-content,
#study-abroad-content {
  display: none !important;
}
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.scroll-circle {
  margin: -60px auto 0;
  padding: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: $gold;
  img {
    display: block;
    margin: auto 25%;
    width: 50%;
    height: auto;
  }
}

.leadin {
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

#majors-content-mobile .button-maroon,
#majors-content-mobile .button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%
}

.tuition-table { display: flex; }

/* general hide show classes */

@media only screen and (max-width: 768px) {
  .sm-hide { display: none; }
}
@media only screen and (max-width: 415px) {
  .xs-hide { display: none; }
}

/* hide and show desktop and mobile content */

section#drawers-wrapper { display: block; }
section#mobile-drawers-wrapper { display: none; }

@media only screen and (max-width: 992px) {
section#drawers-wrapper { display: none; }
section#mobile-drawers-wrapper { display: block; }
}

#intramural-sports.stat-panel {
  background: $gold;
}

#academics-image,
#student-life-image,
#learn-by-doing-image,
#study-abroad-image {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include phone-portrait {
    height: 50vh;
  }
}

#academics-image {
  background-image: url(../images/pattern-1-bg-academics.jpg);
}

#student-life-image {
  background-image: url(../images/pattern-1-bg-student-life-grid-left-lurec-bridge.jpg);
}

#learn-by-doing-image {
  background-image: url(../images/pattern-1-bg-learn-by-doing-radio.jpg);
}

#study-abroad-image {
  background-image: url(../images/pattern-1-bg-study-abroad.jpg);
}

/* overlay drawers */


@media only screen and (max-width: 992px) {
.pattern-2-slidein-container {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
}
