<!-- CTA WITH OVERLAY -->
<div class="cta-container-fluid" style="position: relative;">
  <!-- MODAAL -->
  @@include('./modaal-virtual-tour.html')
  <div class="content-columns-varied one-column-build"><!-- column-build -->
    <div class="grid-wrapper">
      <div class="grid-item col-flex">
          <h2>Let's Get Started: <span><a href="https://www.luc.edu/">Plan your visit</span></a></h2>
          <p>The best way to determine if Loyola is a good fit for you is to visit. Take a firsthand look at our campuses and learn more about our academics, student activities, and residence life.</p>
      </div>
    </div>
  </div>
  <div class="content-columns-varied three-column-build"><!-- column-build -->
    <div class="grid-wrapper">
      <div class="grid-item col-flex button-patina">
        <a class="button"title="title-here"
href="https://www.luc.edu/">Come visit</a>
        <p class="audience-readout">Lorem ipsum hereum</p>
      </div>
      <div class="grid-item col-flex button-patina">
        <a class="button"title="title-here"
href="https://www.luc.edu/">Apply online</a>
        <p class="audience-readout">Lorem ipsum hereum</p>
      </div>
      <div class="grid-item col-flex button-patina">
        <a class="button"title="title-here"
href="https://www.luc.edu/">Apply with the common app</a>
        <p class="audience-readout">Lorem ipsum hereum</p>
      </div>
    </div>
  </div>
</div>
