<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="cta-exposure.css">
</head>
<body>
  <div class="cta-container-fluid">
    <div class="content-columns-varied one-column-build"><!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
            <h2>Let's Get Started: <span><a href="https://www.luc.edu/">Learn More</span></a></h2>
        </div>
      </div>
    </div>
    <div class="content-columns-varied three-column-build"><!-- column-build -->
    <div class="grid-wrapper">
        <div class="grid-item col-flex button-maroon">
          <a class="button"title="title-here"
href="https://www.luc.edu/">CTA Here</a>
          <p class="audience-readout">Audience Specific</p>
        </div>
        <div class="grid-item col-flex button-maroon">
          <a class="button"title="title-here"
href="https://www.luc.edu/">CTA Here</a>
          <p class="audience-readout">Audience Specific</p>
        </div>
        <div class="grid-item col-flex button-maroon">
          <a class="button"title="title-here"
href="https://www.luc.edu/">CTA Here</a>
          <p class="audience-readout">Audience Specific</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
