<!-- FOOTER -->
<footer class="container-fluid">
	<nav>
		<ul class="nav-list">
	    <li class="nav-item"><a href="###"><span class="sm-hide xs-hide">Come </span>Visit</a></li>
	    <li class="nav-item"><a href="###">Apply<span class="sm-hide xs-hide"> Now</span></a></li>
	    <li class="nav-item"><a href="###"><span class="sm-hide xs-hide">Get </span>Info</a></li>
	    <li class="nav-item"><a href="###"><span class="sm-hide xs-hide">Check </span>Status</a></li>
		</ul>
		<div id="social-icons">
			<a target="_blank" href="###" class="icon-fb" title="Follow Us on Facebook"></a>
			<!-- TWITTER -->
			<a target="_blank" href="###" class="icon-tw" title="Follow Us on Twitter"></a>
			<!-- FLICKR -->
			<a target="_blank" href="###" class="icon-fl" title="Follow Us on Fdivckr"></a>
			<!-- LINKEDIN -->
			<!-- RSS -->
			<!-- YOUTUBE -->
			<a target="_blank" href="###" class="icon-yt" title="Follow Us on You Tube"></a>
			<!-- PINTEREST -->
			<!-- INSTAGRAM -->
			<a target="_blank" href="###" class="icon-ig" title="Follow Us on Instagram"></a>
			<!-- BLOG -->
			<a target="_blank" href="http://blogs.luc.edu/uao/" class="icon-blog" title="Read Our Blog"></a>
			<!-- GOOGLE+ -->
		</div>
	</nav>
</footer>
