<nav class="container-fluid" id="ug-cta">
	<div class="container">
		<div class="row">
			<div id="navbar-footer" class="col-md-8">
				<ul class="nav" role="navigation"><li><a href="/undergrad/comevisit/"><span class="hidden-md">Come </span>Visit</a></li><li><a href="http://uao.luc.edu/apply/">Apply<span class="hidden-md"> Now</span></a></li><li><a href="https://uao.luc.edu/register/?id=09e1ac8b-c620-43cc-afe7-325cad54eec2"><span class="hidden-md">Get </span>Info</a></li><li><a href="https://uao.luc.edu/account/login?r=https%3a%2f%2fuao.luc.edu%2fapply%2fstatus"><span class="hidden-md">Check </span>Status</a></li></ul>

			</div>
			<div id="ug-social-wrapper" class="col-md-4">
				<ul class="social social-gold" id="social"><!-- FACEBOOK -->
<li><a target="_blank" href="http://www.facebook.com/LUCadmission" class="icon-fb" title="Follow Us on Facebook"></a></li>

<!-- TWITTER -->
<li><a target="_blank" href="https://twitter.com/LoyolaAdmission" class="icon-tw" title="Follow Us on Twitter"></a></li>

<!-- FLICKR -->
<li><a target="_blank" href="https://www.flickr.com/photos/loyolauniversitychicago/" class="icon-fl" title="Follow Us on Flickr"></a></li>

<!-- LINKEDIN -->


<!-- RSS LINK -->


<!-- YOUTUBE -->
<li><a target="_blank" href="http://www.youtube.com/LoyolaUAO" class="icon-yt" title="Follow Us on You Tube"></a></li>

<!-- PINTEREST -->


 <!-- INSTAGRAM -->
<li><a target="_blank" href="https://www.instagram.com/luc.admission" class="icon-ig" title="Follow Us on Instagram"></a></li>

 <!-- BLOG -->
<li><a target="_blank" href="http://blogs.luc.edu/uao/" class="icon-blog" title="Read Our Blog"></a></li>

 <!-- GOOGLE+ -->

</ul>
			</div>
		</div>
	</div>
</nav>
