<!-- FOOTER -->
<footer class="container-fluid">
	<nav>
		<ul class="nav-list">
	    <li class="nav-item"><a href="###"><span class="sm-hide xs-hide">Come </span>Visit</a></li>
	    <li class="nav-item"><a href="###">Apply<span class="sm-hide xs-hide"> Now</span></a></li>
	    <li class="nav-item"><a href="###"><span class="sm-hide xs-hide">Get </span>Info</a></li>
	    <li class="nav-item"><a href="###"><span class="sm-hide xs-hide">Check </span>Status</a></li>
		</ul>
		<div id="social-icons">
			<!-- FACEBOOK -->
			<a class="social-facebook" target="_blank" href="###"><i class="fa fa-facebook"></i></a>
			<!-- FLICKER -->
			<a class="social-flickr" target="_blank" href="###"><i class="fa fa-flickr"></i></a>
			<!-- LINKEDIN -->
			<a class="social-youtube" target="_blank" href="###"><i class="fa fa-youtube"></i></a>
			<!-- INSTAGRAM -->
			<a class="social-instagram" target="_blank" href="###"><i class="fa fa-instagram"></i></a>
			<!-- BLOG -->
			<a class="social-blog" target="_blank" href="###"><i class="fa fa-quote-right"></i></a>
			<!-- CONTACT -->
			<a class="social-contact" target="_blank" href="###"><i class="fa fa-at"></i></a>
		</div>
	</nav>
</footer>
