<!-- HERO OVERLAY -->

<div class="pattern-1-stats-container m0" style="width: 100%; min-width: 100%; background: rgba(0,0,0,.5); position: absolute; top">
  <div class="o-grid o-grid--top m0">
    <div class="o-grid__cell">
      <h2 class="m0 stat-number-medium">80+</h2>
      <h4 class="m0 stat-header-medium">UNDER-</h4>
      <h4 class="m0 stat-header-medium">GRADUATE</h4>
      <h4 class="m0 stat-header-medium">MAJORS</h4>
      <h4 class="m0 stat-header-medium">OFFERED</h4>
    </div>
    <div class="o-grid__cell">
      <h2 class="m0 stat-number-medium">14:1</h2>
      <h4 class="m0 stat-header-medium">STUDENT-</h4>
      <h4 class="m0 stat-header-medium">TEACHER</h4>
      <h4 class="m0 stat-header-medium">RATIO</h4>
    </div>
    <div class="o-grid__cell">
      <h2 class="m0 stat-number-medium">26</h2>
      <h4 class="m0 stat-header-medium">STUDENTS, PER CLASS</h4>
      <h6 class="m0" style="text-transform: lowercase;">On average</h6>
    </div>
    <div class="o-grid__cell">
      <h2 class="m0 stat-number-medium">93%</h2>
      <h4 class="m0 stat-header-medium stat-center">OF FACULTY HOLD THE HIGHEST DEGREE POSSIBLE IN THEIR FIELD</h4>
    </div>
  </div>
</div>
