<!-- HERO OVERLAY -->

<div id="overview-overlay">
  <div class="loyola-experience-inset">
    <img src="images/2020-loyola-experience-mark.png">
  </div>
  <div class="o-container--super" id="overview-text-container">
    <p class="mx0" id="overview-text-paragraph">
      <span class="leadin">
        Shaped by it's vibrant community
      </span> a tradition of academic excellence, and a commitment to responsible leadership, Loyola offers you an educational experience that is like no other. With two main campuses in Chicago, we provide access to numerous cultural institutions and hundreds of internships and networking opportunities.
    </p>
    <div class="o-grid mx0">
      <div class="o-grid__cell" style="min-width: 30%;">
        <h2 class="m0 stat-number-medium" style="text-transform: uppercase;">Best Value</h2>
        <h4 class="m0 mt1 stat-header-medium">— U.S. News & world report 2020</h4>
      </div>
      <div class="o-grid__cell">
        <h2 class="m0 stat-number-medium">#49</h2>
        <h4 class="m0 mt1 stat-header-medium">under-graduate teaching</h4>
      </div>
      <div class="o-grid__cell">
        <h2 class="m0 stat-number-medium">17,159</h2>
        <h4 class="m0 mt1 stat-header-medium">students total</h4>
      </div>
      <div class="o-grid__cell">
        <h2 class="m0 stat-number-medium">47</h2>
        <h4 class="m0 mt1 stat-header-medium">states</h4>
      </div>
      <div class="o-grid__cell">
        <h2 class="m0 stat-number-medium">48</h2>
        <h4 class="m0 mt1 stat-header-medium">countries</h4>
      </div>
    </div>
  </div>
</div>
