<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Undergrad Test</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

<h1>Hello</h1>
<h2>Test Subheader</h2>
<p>This is just a test paragraph on a test page to see if I can run the gulp command through the mac terminal to compile my files and build these web pages</p>

<div class="u-center-block" style="background-color: blue; height: 500px; width: 500px;">
  <div class="u-center-block__content" style="background-color: orange; height: 300px; width: 300px;">
    <p>Test</p>
  </div>
</div>

  <script src="js/scripts.js"></script>
</body>
</html>
