<!-- HERO OVERLAY -->
<div id="overview-overlay" class="content-columns-varied eight-column-four-column-build"><!-- column-build -->
  <div class="grid-wrapper">
    <div class="grid-item col-flex">
      <div class="loyola-experience-inset">
        <img src="images/2020-loyola-experience-mark.png">
      </div>
      <div id="overview-text-paragraph">
        <p>
          <span class="leadin">
            Shaped by it's vibrant community
          </span> a tradition of academic excellence, and a commitment to responsible leadership, Loyola offers you an educational experience that is like no other. With two main campuses in Chicago, we provide access to numerous cultural institutions and hundreds of internships and networking opportunities.
        </p>
      </div>
    </div>
    <div id="stat-carrousel" class="grid-item col-flex">
      <div class="js-carrousel">
        <div class="js-carrousel__container" style="text-align: center;"
          data-carrousel-prefix-class="news"
          data-carrousel-transition="fade"
          data-carrousel-hx="h2"
          data-carrousel-span-text="Panneau"
          data-carousel-hide-arrows-focus="false"
          data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
          data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
          data-carrousel-btn-previous-text="See previous content"
          data-carrousel-btn-next-text="See next content">
          <div class="js-carrousel__content">
            <h2 class="stat-number-medium" style="text-transform: uppercase;">Best Value</h2>
            <h4 class="stat-header-medium">— U.S. News & world report 2020</h4>
          </div>
          <div class="js-carrousel__content">
            <h2 class="stat-number-medium">#49</h2>
            <h4 class="stat-header-medium">under-graduate teaching</h4>
          </div>
          <div class="js-carrousel__content">
            <h2 class="stat-number-medium">17,159</h2>
            <h4 class="stat-header-medium">students total</h4>
          </div>
          <div class="js-carrousel__content">
            <h2 class="stat-number-medium">47</h2>
            <h4 class="stat-header-medium">states</h4>
          </div>
          <div class="js-carrousel__content">
            <h2 class="stat-number-medium">48</h2>
            <h4 class="stat-header-medium">countries</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
