<section id="mobile-drawers-wrapper">

  <!-- ADMISSION CONTENT -->
  <div id="admission-content-mobile" class="drawer-mobile">
    <div class="content-columns-varied one-column-build">
      <!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
          <div class="loyola-experience-icon">
            <img class="inline-icon" src="images/ug-road-gears-icon.png">
          </div>
          <h2 class="mt0 mb2">ADMISSION</h2>
          <!-- MODAAL -->
          @@include('./modaal-student-life-gallery.html')

          <div class="js-tabs" data-existing-hx="h3" data-tabs-prefix-class="example-tabs">
            <ul class="js-tablist container-fluid">
              <li class="js-tablist__item">
                <a href="#id_freshman" class="js-tablist__link" data-selected="1" aria-selected="true">I am a prospective Student</a>
              </li>
              <li class="js-tablist__item">
                <a href="#id_transfer" class="js-tablist__link">I am a transfer student</a>
              </li>
            </ul>
            <!-- FRESHMAN TABLES -->
            <!-- FRESHMAN REQUIREMENTS -->
            <div id="id_freshman" class="js-tabcontent" style="height: 45vh;">
              <div class="o-container">
                <div class="requirements-table">
                  <h2>FRESHMAN</h2>
                  <p><em>Applying to Loyola directly after high school.</em></p>
                  <div class="o-container">
                    <h3>Applications requirements</h3>
                    <div id="key">
                      <span class="key-name">
                        <svg height="20" width="20" 100xauto height>
                          <circle cx="10" cy="10" r="8" stroke="#0096a0" stroke-width="3" fill="#0096a0" />
                        </svg>
                        <h5>Required</h5>
                      </span>
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                        </svg>
                        <h5>Upon request</h5>
                      </span>
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                        </svg>
                        <h5>Optional</h5>
                      </span>
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="#000000" />
                        </svg>
                        <h5>?????</h5>
                      </span>
                    </div>
                  </div>
                  <div class="c-table">
                    <div class="c-table__row c-table__row--heading cell-heading-border">
                      <span class="c-table__cell">
                        <h6 class="m0">ONLINE APPLICATION</h6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">OFFICIAL HIGH SCHOOL TRANSCRIPT</h6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">COLLEGE TRANSCRIPT(S)</h6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">STANDARDIZED TEST SCORE</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">RECOMMENDATION LETTER</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">ESSAY</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">RESUME</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FRESHMAN DEADLINES -->
              <div class="o-container">
                <div class="requirements-table deadlines-table">
                  <h3>Deadlines</h3>
                  <div class="c-table">
                    <div class="c-table__row c-table__row--heading cell-heading-border">
                      <span class="c-table__cell">
                        <h6 class="m0">ADMISSION APPLICATION / Priority <span><span>1</span></span></h6>
                        <span class="key-symbol">
                          <h6 class="m0">December 1</h6>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">ADMISSION APPLICATION / Spring <span><span>1</span></span></h6>
                        <span class="key-symbol">
                          <h6 class="m0">NA</h6>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">ADMISSION APPLICATION / Fall <span><span>1</span></span></h6>
                        <span class="key-symbol">
                          <h6 class="m0">NA</h6>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">SCHOLARSHIP APPLICATION</H6>
                        <span class="key-symbol">
                          <h6 class="m0">February 1 <span><span>2</span></span></h6>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-container">
                <p class="footnote"><sup><strong>1</strong> Admission is rolling.</p>
                <p class="footnote"><sup><strong>2</strong> The application for admission is the application for merit scholarships. Students must be admitted by Feb.1 to be considered.</p>
              </div>
            </div>
            <!-- TRANSFER TABLES -->
            <!-- TRANSFER REQUIREMENTS -->
            <div id="id_transfer" class="js-tabcontent" style="height: 45vh;">
              <div class="o-container">
                <div class="requirements-table">
                  <h2>TRANSFER STUDENTS</h2>
                  <p>Has completed high school and is enrolled in a post-secondary institution.
                  <p><em>Transfer students can bring a maximum of 64 credits from a two-year college.</em></p>
                  <div class="o-container">
                    <h3>Applications requirements</h3>
                    <div id="key">
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="#0096a0" stroke-width="3" fill="#0096a0" />
                        </svg>
                        <h5>Required</h5>
                      </span>
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                        </svg>
                        <h5>Upon request</h5>
                      </span>
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                        </svg>
                        <h5>Optional</h5>
                      </span>
                      <span class="key-name">
                        <svg height="20" width="20">
                          <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="#000000" />
                        </svg>
                        <h5>?????</h5>
                      </span>
                    </div>
                  </div>
                  <div class="c-table">
                    <div class="c-table__row c-table__row--heading cell-heading-border">
                      <span class="c-table__cell">
                        <h6 class="m0">ONLINE APPLICATION</h6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">OFFICIAL HIGH SCHOOL TRANSCRIPT</h6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="#0096a0" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">COLLEGE TRANSCRIPT(S)</h6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">STANDARDIZED TEST SCORE</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="#0096a0" stroke-width="3" fill="#0096a0" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">RECOMMENDATION LETTER</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">ESSAY</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">RESUME</H6>
                        <span class="key-symbol">
                          <svg height="20" width="20">
                            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
                          </svg>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TRANSFER DEADLINES -->
              <div class="o-container">
                <div class="requirements-table">
                  <h3>Deadlines</h3>
                  <div class="c-table">
                    <div class="c-table__row c-table__row--heading cell-heading-border">
                      <span class="c-table__cell">
                        <h6 class="m0">ADMISSION APPLICATION / Priority <span><span>1</span></span></h6>
                        <span class="key-symbol">
                          <h6 class="m0">NA</h6>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">ADMISSION APPLICATION / Spring <span><span>1</span></span></h6>
                        <span class="key-symbol">
                          <h6 class="m0">December 1</h6>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <h6 class="m0">ADMISSION APPLICATION / Fall <span><span>1</span></span></h6>
                        <span class="key-symbol">
                          <h6 class="m0">June 1</h6>
                        </span>
                      </span>
                      <span class="c-table__cell">
                        <H6 class="m0">SCHOLARSHIP APPLICATION</H6>
                        <span class="key-symbol">
                          <h6 class="m0">See Notes <span><span>2</span></span></h6>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="o-container">
                <p class="footnote"><sup><strong>1</strong> Admission is rolling.</p>
                <p class="footnote"><sup><strong>2</strong> All transfer students with 20 college credits or more completed at the time of application are automatically considered for Loyola’s Transfer Merit Scholarships. Merit awards are renewable for up to three years for undergrads. Loyola also offers Phi Theta Kappa scholarships for students transferring from two-year community colleges.</p>
              </div>
            </div>
            <!-- close tabs - admission -->
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
