<!-- MAJORS CONTENT -->
<div id="majors-content-mobile" class="drawer-mobile">
  <div class="content-columns-varied one-column-build">
    <!-- column-build -->
    <div class="grid-wrapper">
      <div class="grid-item col-flex">
        <h2 class="mt0 mb2">FIND YOUR MAJOR</h2>
        <p>You can choose from more than 80 college majors and more than 80 minors, and that's not including our interdisciplinary programs and five-year bachelor's/master's degree programs.</p>
        <div class="button-patina">
          <a class="button" title="title-here" href="https://www.luc.edu/undergrad/academics/majors/">Find your major</a>
        </div>
      </div>
    </div>
  </div>
</div>
