<!-- DRAWER CONTENT - SECTIONS -->

<section id="mobile-drawers-wrapper">

<div id="academics-image">
  <div class="caption-overlay-mobile-wrapper">
    <div class="caption-overlay-mobile">
      <p class="m0">The student-run Biodiesel Program is the first school operation licensed to sell reclaimed fuel in the U.S.</p>
    </div>
  </div>
</div>
<div id="academics-content-mobile" class="drawer-mobile" style="position: relative;">
  <!-- MODAAL -->
  @@include('./modaal-student-life-gallery.html')
  <div class="container-fluid">
    <div class="content-columns-varied eight-column-four-column-build"><!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
          <h2 class="mt0 mb2" style="font-size: 3.5em;">ACADEMICS</h2>
          <div style="display: inline;">
            <img src="../images/Gold-open-book-with-logo_icon-500x500.png" height="20%" width="20%" class="mr2" alt="">
            <p><span style="font-family: 'Antenna Bold', sans-serif;">At Loyola,</span> you’ll dig deeply into what interests you and make your own discoveries. Our academic programs will challenge you to do more and be more. You’ll also have the option of further professional development with a dual degree, double major, or five-year joint bachelor’s and master’s degree.
            </p>
            <p class="drawer-footnote"><span><a href="luc.edu/academics">LEARN MORE</a></span> LUC.edu/academics</p>
          </div>
        </div>
        <div id="stat-carrousel" class="grid-item col-flex">
          <img style="display: block; margin: 0; padding: 0; width: 100%; height: auto;" src="http://via.placeholder.com/1600x900">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STAT PANEL -->
<div id="intramural-sports" class="stat-panel">
  <div class="container-fluid">
    <div class="content-columns-varied eight-column-four-column-build"><!-- column-build -->
      <div id="stat-carrousel" class="grid-item col-flex">
        <div class="stat-overlay bg-gold">
          <h2 class="stat-number-large m0 mr1">#1</h2>
          <h6 class="m0">College for intramural sports - bestcolleges.com</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STUDENT LIFE CONTENT -->
<div id="student-life-image">
  <div class="caption-overlay-mobile-wrapper">
    <div class="caption-overlay-mobile">
      <p class="m0">Students participate in activities at the Loyola University Retreat and Ecology Campus (LUREC).</p>
    </div>
  </div>
</div>
<div id="student-life-content-mobile" class="drawer-mobile">
  <div class="container-fluid">
    <div class="content-columns-varied eight-column-four-column-build"><!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
          <h2 class="mt0 mb2" style="font-size: 3.5em;">STUDENT LIFE</h2>
          <div style="display: inline;">
            <img src="../images/alarm-clock_icon_500x500.png" alt="" height="20%" width="20%" class="mr2">
            <p><span style="font-family: 'Antenna Bold', sans-serif;">There's always something</span> to do and somewhere to be— volunteer, advocate, or enjoy a NCAA Division 1 Rambler game. The Loyola Experience is about finding your place and connecting with new friends. With more than 250 student organizations to choose from, you’re sure to find something that interests you.</p>
            <p class="drawer-footnote"><span><a href="luc.edu/academics">LEARN MORE</a></span> LUC.edu/studentlife</p>
          </div>
        </div>
        <div class="grid-item col-flex">
          <div id="stat-carrousel" class="grid-item col-flex">
            <div class="js-carrousel">
              <div class="js-carrousel__container" style="text-align: center;"
                data-carrousel-prefix-class="news"
                data-carrousel-transition="fade"
                data-carrousel-hx="h2"
                data-carrousel-span-text="Panneau"
                data-carousel-hide-arrows-focus="false"
                data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
                data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
                data-carrousel-btn-previous-text="See previous content"
                data-carrousel-btn-next-text="See next content">
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">23</h2>
                  <h3 class="stat-header-large m0">Residence Halls</h3>
                </div>
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">13</h2>
                  <h3 class="stat-header-large m0">MEN’S AND WOMEN’SNCAA D1 ATHLETIC PROGRAMS</h3>
                </div>
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">20</h2>
                  <h3 class="stat-header-large m0">SORORITIES AND FRATERNITIES</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LEARN BY DOING CONTENT -->
<div id="learn-by-doing-image">
  <div class="caption-overlay-mobile-wrapper">
    <div class="caption-overlay-mobile">
      <p class="m0">Internship sites include Chicago Bulls, WXRT Radio, the Environmental Protection Agency, and Deloitte.</p>
    </div>
  </div>
</div>
<div id="learn-by-doing-content-mobile" class="drawer-mobile">
  <div class="container-fluid">
    <div class="content-columns-varied eight-column-four-column-build"><!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
          <h2 class="mt0 mb2" style="font-size: 3.5em;">LEARN BY DOING</h2>
          <div style="display: inline;">
            <img src="../images/gold-fill-lightbulb_icon_500x500.png" alt="" height="20%" width="20%" class="mr1">
            <p><span style="font-family: 'Antenna Bold', sans-serif;">Loyola gives you</span> exciting opportunities for hands-on learning. Internships, research, and community service get you outside the classroom, working with non-profits and Fortune 500 companies. National sports teams, pharmaceuticals, software companies— when it comes to real-world experience, Loyola has you covered.
            </p>
            <p class="drawer-footnote">
              <span><a href="luc.edu/experiential">LEARN MORE</a></span> LUC.edu/experiential • LUC.edu/career
            </p>
          </div>
        </div>
        <div class="grid-item col-flex">
          <div id="stat-carrousel" class="grid-item col-flex">
            <div class="js-carrousel">
              <div class="js-carrousel__container" style="text-align: center;"
                data-carrousel-prefix-class="news"
                data-carrousel-transition="fade"
                data-carrousel-hx="h2"
                data-carrousel-span-text="Panneau"
                data-carousel-hide-arrows-focus="false"
                data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
                data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
                data-carrousel-btn-previous-text="See previous content"
                data-carrousel-btn-next-text="See next content">
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">892</h2>
                  <h3 class="stat-header-large m0">ORGANIZATIONS HOSTED STUDENTS FOR ACADEMIC INTERNSHIPS, SERVICELEARNING, AND RESEARCH</h3>
                </div>
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">14:1</h2>
                  <h3 class="stat-header-large m0">Student-teacher ratio</h3>
                </div>
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">26</h2>
                  <h3 class="stat-header-large m0">Students, per class <span>- on average</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STUDY ABROAD CONTENT -->
<div id="study-abroad-image">
  <div class="caption-overlay-mobile-wrapper">
    <div class="caption-overlay-mobile">
      <p class="m0">Students can tour the historical sites of Rome, Italy in onsite classes.</p>
    </div>
  </div>
</div>
<div id="study-abroad-content-mobile" class="drawer-mobile">
  <div class="container-fluid">
    <div class="content-columns-varied eight-column-four-column-build"><!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
          <h2 class="mt0 mb2" style="font-size: 3.5em;">STUDY ABROAD</h2>
          <div style="display: inline;">
            <img src="../images/patina-fill-world_icon_500x500.png" alt="" height="18%" width="18%" class="mr3">
            <p><span style="font-family: 'Antenna Bold', sans-serif;">Whether you travel far</span> or stay close to our Chicago home, you will have plenty of opportunities to expand your horizons in over 150 study abroad programs in 60 countries. Semester, summer, and academic year-long programs are available.
            </p>
            <p class="drawer-footnote">
              <p class="drawer-footnote"><span><a href="luc.edu/romestart">LEARN MORE</a> LUC.edu/romestart • LUC.edu/studyabroad
            </p>
          </div>
        </div>
        <div class="grid-item col-flex">
          <div id="stat-carrousel" class="grid-item col-flex">
            <div class="js-carrousel">
              <div class="js-carrousel__container" style="text-align: center;"
                data-carrousel-prefix-class="news"
                data-carrousel-transition="fade"
                data-carrousel-hx="h2"
                data-carrousel-span-text="Panneau"
                data-carousel-hide-arrows-focus="false"
                data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
                data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
                data-carrousel-btn-previous-text="See previous content"
                data-carrousel-btn-next-text="See next content">
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">80+</h2>
                  <h3 class="stat-header-large m0">Undergraduate majors offered</h3>
                </div>
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">14:1</h2>
                  <h3 class="stat-header-large m0">Student-teacher ratio</h3>
                </div>
                <div class="js-carrousel__content">
                  <h2 class="stat-number-large m0">26</h2>
                  <h3 class="stat-header-large m0">Students, per class <span>- on average</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
