<!-- NAME HERE -->
<!-- Trigger/Open The Modal -->
<div id="student-life" class="modal-button">
  <button id="myBtn"></button>
</div>
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <!-- Modal content -->
  <div class="modal-content">
    <style>
  	   #post > div.col-12.clearfix.z3[style] { display: none !important; }
		</style>
		<iframe class="exposure-post-embed" src="https://loyolachicago.exposure.co/categories/enrollment?embed=true" style="margin: 0; padding: 0; width: 100%; height: 1000px;">
		</iframe>
  </div>
</div>
