<nav id="main-nav" class="container-fluid">
  <ul>
    <li class="nav-item">
      <img class="nav-image" src="images/luc-logo-vertical-nav.png">
    </li>
    <li class="nav-item">Item 1</li>
    <li class="nav-item">Item 2</li>
    <li class="nav-item">Item 3</li>
    <li class="nav-item">Item 4</li>
    <li class="nav-item" style="float: right !important;">Loyola University Chicago</li>
  </ul>
  <div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
  </div>
</nav>
