<nav id="main-nav" class="container-fluid">
  <ul>
    <!--
    <li class="nav-item">
      <img class="nav-image" src="images/luc-logo-vertical-nav.png">
    </li>
    -->
    <li class="nav-item"><a href="#academics-content-mobile">Academics</a></li>
    <li class="nav-item"><a href="#student-life-content-mobile">Student Life</a></li>
    <li class="nav-item"><a href="#learn-by-doing-content-mobile">Learn By Doing</a></li>
    <li class="nav-item"><a href="#study-abroad-content-mobile">Study Abroad</a></li>
    <li class="nav-item brand" style="float: right !important;">
      <a>Loyola University Chicago</a>
    </li>
    <div class="progress-container">
      <div class="progress-bar" id="progressBar"></div>
    </div>
  </ul>
</nav>
