<!-- PATTERN 3 - FULL TABLE - ADMISSION -->

<div class="pattern-3-bg p4">
  <div class="loyola-experience-inset">
    <img src="/images/ug-road-gears-icon.png">
  </div>
  <h2 class="pattern-3-header">ADMISSION</h2>
  <div class="o-container" style="display: flex;">
    <div class="app-requirements-table">
      <div class="c-table">
        <div class="c-table__row">
          <div class="c-table__cell" style="border: none;">
            <h6 style="font-family: antenna-black; font-size: 1.25em; padding-right: 3em;" class="mt2">APPLICATION <br> REQUIREMENTS</h6>
          </div>
          <div class="c-table__cell" style="background-color: #daa439; border: none; border-radius: 8px 0 0 0; display: block; padding: 2em;">
            <h6 class="mt0" style="font-family: antenna-black; font-size: 1.25em; color: white;">FRESHMAN</h6>
            <p class="table-body-text m0" style="color: white;">Applying to Loyola directly after high school</p>
          </div>
          <div class="c-table__cell" style="background-color: #0096a0; border: none; border-radius: 0 8px 0 0; display: block; padding: 2em;">
            <h6 class="mt0" style="color: white; font-family: antenna-black; font-size: 1.25em;">TRANSFER</h6>
            <p class="table-body-text m0" style="color: white;">
              Completed high school
            </p>
            <p class="table-body-text" style="color: white;">
              Enrolled in post-secondary institution
            </p>
          </div>
        </div>
        <div class="c-table__row c-table__row--heading cell-heading-border" style="height: 50px;">
          <span class="c-table__cell">
            <h6 class="m0">ONLINE APPLICATION</h6>
          </span>
          <span class="c-table__cell table-circle-cells"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg>
          </span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" /></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <h6 class="m0">OFFICIAL HIGH SCHOOL TRANSCRIPT</h6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" fill="#0096a0" />
            </svg></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <h6 class="m0">COLLEGE TRANSCRIPT(S)</h6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <H6 class="m0">STANDARDIZED TEST SCORE</H6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" fill="#0096a0" />
            </svg></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <H6 class="m0">RECOMMENDATION LETTER</H6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" fill="#0096a0" />
            </svg></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <H6 class="m0">ESSAY</H6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <H6 class="m0">RESUME</H6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
        </div>
      </div>
    </div>

    <div class="deadlines-table o-container--medium ml4 mr4" style="display: none;">
      <div class="c-table">
        <div class="c-table__row">
          <div class="c-table__cell" style="border: none;">
            <h6 style="font-family: antenna-black; font-size: 1.25em; padding-right: 3em;" class="mt2">DEADLINES</h6>
          </div>
          <div class="c-table__cell" style="background-color: #daa439; border: none; border-radius: 8px 0 0 0; display: block; padding: 2em;">
            <h6 class="mt0" style="font-family: antenna-black; font-size: 1.25em; color: white;">FRESHMAN</h6>
          </div>
          <div class="c-table__cell" style="background-color: #0096a0; border: none; border-radius: 0 8px 0 0; display: block; padding: 2em;">
            <h6 class="mt0" style="color: white; font-family: antenna-black; font-size: 1.25em;">TRANSFER</h6>
          </div>
        </div>
        <div class="c-table__row c-table__row--heading cell-heading-border" style="height: 50px;">
          <span class="c-table__cell">
            <h6 class="m0">ONLINE APPLICATION</h6>
          </span>
          <span class="c-table__cell table-circle-cells"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg>
          </span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" /></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <h6 class="m0">OFFICIAL HIGH SCHOOL TRANSCRIPT</h6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" fill="#0096a0" />
            </svg></span>
        </div>
        <div class="c-table__row" style="height: 50px;">
          <span class="c-table__cell">
            <h6 class="m0">COLLEGE TRANSCRIPT(S)</h6>
          </span>
          <span class="c-table__cell"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="black" stroke-width="3" fill="none" />
            </svg></span>
          <span class="c-table__cell no-border-right"><svg height="20" width="20">
              <circle cx="10" cy="10" r="8" stroke="white" stroke-width="3" fill="#0096a0" />
            </svg></span>
        </div>
      </div>
    </div>
  </div>
</div>
