<!-- PATTERN 2 - FIRST YEAR PROFILE -->

<div class="pattern-2-bg">
  <div class="pattern-2-slidein-container">
    <div class="pattern-2-slidein-border"></div>
    <div class="pattern-2-slidein-content-container pt2">
      <h3 class="px3 mb2" style="font-size: 3em;">FIRST-YEAR PROFILE</h3>
      <h3 class="px3 mb2">Class of 2019</h3>
<div style="display: inline-flex" class="px2 mt3">
  <img src="../images/Gold_Globe_icon_500x500.png" height="20%" width="20%" alt="" class="pl3">
      <p class="px3">Our diverse freshman student body, entering in Fall 2019, represents people of all faiths and ethnic backgrounds. </p>
      </div>
    </div>
    <div class="arrow bounce">
      <img src="../images/scroll-down-arrow-white" height="20%" width="20%" alt="">
    </div>
  </div>
</div>
