<!-- PATTERN 1 - ACADEMICS -->

<div id="pin-container" style="width: 100%;
  height: 100%;
  overflow: hidden;">
  <div class="pattern-1-bg panel" id="scroll-initiator-1"></div>
  <div id="test-section-1" class="panel lake-dark" style="display: inline-flex;">
    <div id="pattern-1-img-grid-left"></div>
    <div id="pattern-1-img-grid-right">
      <div id="pattern-1-img-grid-top-right">
        <div style="position: relative; top: 10%; left: 55%;">
          <div style="display: inline-flex;">
          <h2 class="stat-number-large m0">#1</h2>
          <div class="ml1 mt2">
            <h6 class="m0 mt1">COLLEGE FOR</h6>
            <h6 class="m0 mt1">INTRAMURAL</h6>
            <h6 class="m0 mt1">SPORTS</h6>
          </div>
        </div>
        <h6 class="stat-source m0" id="student-life-stat-source">-BESTCOLLEGES.COM</h6>
        </div>
      </div>
      <div id="pattern-1-img-grid-bottom-right"></div>
    </div>
  </div>
  <div id="test-section-2" class="panel lake-light"></div>
  <div id="test-section-3" class="panel opus-light" style="overflow:hidden;"></div>
  <div class="pattern-1-drawer-container u-highest" id="reveal1">
    <div class="pattern-1-drawer-content-container p4" style="display: inline-flex;">
      <div class="o-container--medium">
        <h2 class="mt0 mb2" style="font-size: 3.5em;">ACADEMICS</h2>
        <p><strong>At Loyola, you’ll</strong> dig deeply into what interests you and make your own discoveries. Our academic programs will challenge you to do more and be more. You’ll also have the option of further professional development with a
          dual degree, double major, or five-year joint bachelor’s and master’s degree.</p>
      </div>
      <div id="stat-carrousel" class="o-container--medium">
        <div class="container-fluid" style="width: 100%; min-width: 100%;">
          <div class="js-carrousel relative pb1">
            <div class="js-carrousel__container  mod--hidden mb1"
              style="margin-left: 5em; text-align: center;"
              data-carrousel-prefix-class="news"
              data-carrousel-transition="fade"
              data-carrousel-hx="h2"
              data-carrousel-span-text="Panneau"
              data-carousel-hide-arrows-focus="false"
              data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
              data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
              data-carrousel-btn-previous-text="See previous content"
              data-carrousel-btn-next-text="See next content">
              <div class="js-carrousel__content">
                <div style="text-align: center; width: 100%; min-width: 100%;">
                  <h2 class="stat-number-large m0">80+</h2>
                  <h3 class="stat-header-large m0">Undergraduate majors offered</h3>
                </div>
              </div>
              <div class="js-carrousel__content">
                <div style="text-align: center; width: 100%; min-width: 100%;">
                  <h2 class="stat-number-large m0">14:1</h2>
                  <h3 class="stat-header-large m0">Student-teacher ratio</h3>
                </div>
              </div>
              <div class="js-carrousel__content">
                <div style="text-align: center; width: 100%; min-width: 100%;">
                  <h2 class="stat-number-large m0">26</h2>
                  <h3 class="stat-header-large m0">Students, per class <span>- on average</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- STUDENT LIFE DRAWER CONTENT - PATTERN 1 -->
<div id="content-toggle-1"></div>
<div class="pattern-1-drawer-container u-highest hidden" id="reveal1 student-life-content">
  <div class="pattern-1-drawer-content-container p4" style="display: inline-flex;">
    <div class="o-container--medium">
      <h2 class="mt0 mb2" style="font-size: 3.5em;">STUDENT LIFE</h2>
      <p><strong>At Loyola, you’ll</strong> dig deeply into what interests you and make your own discoveries. Our academic programs will challenge you to do more and be more. You’ll also have the option of further professional development with a
        dual degree, double major, or five-year joint bachelor’s and master’s degree.</p>
    </div>
    <div id="stat-carrousel" class="o-container--medium">
      <div class="container-fluid" style="width: 100%; min-width: 100%;">
        <div class="js-carrousel relative pb1">
          <div class="js-carrousel__container  mod--hidden mb1"
            style="margin-left: 5em; text-align: center;"
            data-carrousel-prefix-class="news"
            data-carrousel-transition="fade"
            data-carrousel-hx="h2"
            data-carrousel-span-text="Panneau"
            data-carousel-hide-arrows-focus="false"
            data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
            data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
            data-carrousel-btn-previous-text="See previous content"
            data-carrousel-btn-next-text="See next content">
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">80+</h2>
                <h3 class="stat-header-large m0">Undergraduate majors offered</h3>
              </div>
            </div>
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">14:1</h2>
                <h3 class="stat-header-large m0">Student-teacher ratio</h3>
              </div>
            </div>
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">26</h2>
                <h3 class="stat-header-large m0">Students, per class <span>- on average</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LEARN BY DOING DRAWER CONTENT - PATTERN 1 -->
<div id="content-toggle-2"></div>
<div class="pattern-1-drawer-container u-highest hidden" id="reveal1 learn-by-doing-content">
  <div class="pattern-1-drawer-content-container p4" style="display: inline-flex;">
    <div class="o-container--medium">
      <h2 class="mt0 mb2" style="font-size: 3.5em;">LEARN BY DOING</h2>
      <p><strong>At Loyola, you’ll</strong> dig deeply into what interests you and make your own discoveries. Our academic programs will challenge you to do more and be more. You’ll also have the option of further professional development with a
        dual degree, double major, or five-year joint bachelor’s and master’s degree.</p>
    </div>
    <div id="stat-carrousel" class="o-container--medium">
      <div class="container-fluid" style="width: 100%; min-width: 100%;">
        <div class="js-carrousel relative pb1">
          <div class="js-carrousel__container  mod--hidden mb1"
            style="margin-left: 5em; text-align: center;"
            data-carrousel-prefix-class="news"
            data-carrousel-transition="fade"
            data-carrousel-hx="h2"
            data-carrousel-span-text="Panneau"
            data-carousel-hide-arrows-focus="false"
            data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
            data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
            data-carrousel-btn-previous-text="See previous content"
            data-carrousel-btn-next-text="See next content">
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">80+</h2>
                <h3 class="stat-header-large m0">Undergraduate majors offered</h3>
              </div>
            </div>
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">14:1</h2>
                <h3 class="stat-header-large m0">Student-teacher ratio</h3>
              </div>
            </div>
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">26</h2>
                <h3 class="stat-header-large m0">Students, per class <span>- on average</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STUDY ABROAD DRAWER CONTENT - PATTERN 1 -->
<div id="content-toggle-3"></div>
<div class="pattern-1-drawer-container u-highest hidden" id="reveal1 study-abroad-content">
  <div class="pattern-1-drawer-content-container p4" style="display: inline-flex;">
    <div class="o-container--medium">
      <h2 class="mt0 mb2" style="font-size: 3.5em;">STUDY ABROAD</h2>
      <p><strong>At Loyola, you’ll</strong> dig deeply into what interests you and make your own discoveries. Our academic programs will challenge you to do more and be more. You’ll also have the option of further professional development with a
        dual degree, double major, or five-year joint bachelor’s and master’s degree.</p>
    </div>
    <div id="stat-carrousel" class="o-container--medium">
      <div class="container-fluid" style="width: 100%; min-width: 100%;">
        <div class="js-carrousel relative pb1">
          <div class="js-carrousel__container  mod--hidden mb1"
            style="margin-left: 5em; text-align: center;"
            data-carrousel-prefix-class="news"
            data-carrousel-transition="fade"
            data-carrousel-hx="h2"
            data-carrousel-span-text="Panneau"
            data-carousel-hide-arrows-focus="false"
            data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous-maroon.png"
            data-carrousel-btn-next-img="images/ui-arrow-carrousel-next-maroon.png"
            data-carrousel-btn-previous-text="See previous content"
            data-carrousel-btn-next-text="See next content">
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">80+</h2>
                <h3 class="stat-header-large m0">Undergraduate majors offered</h3>
              </div>
            </div>
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">14:1</h2>
                <h3 class="stat-header-large m0">Student-teacher ratio</h3>
              </div>
            </div>
            <div class="js-carrousel__content">
              <div style="text-align: center; width: 100%; min-width: 100%;">
                <h2 class="stat-number-large m0">26</h2>
                <h3 class="stat-header-large m0">Students, per class <span>- on average</span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
