<!-- PATTERN 2 - FIRST YEAR PROFILE -->
<div class="pattern-2-bg">
  <div class="pattern-2-slidein-container">
    <div class="pattern-2-slidein-border"></div>
    <div class="pattern-2-slidein-content-container pt2">
      <h3 class="px3 mb2" style="font-size: 3em;">FIRST-YEAR PROFILE</h3>
      <h3 class="px3 mb2">Class of 2019</h3>
<div style="display: block;" class="px2 mt3">
  <img src="../images/Gold_Globe_icon_500x500.png" height="20%" width="20%" alt="" class="pl3">
      <p class="px3">Our diverse freshman student body, entering in Fall 2019, represents people of all faiths and ethnic backgrounds. </p>
      </div>
      <!-- LEFT SIDE -->
      <div style="" class="p2">
        <div style="display: inline-flex">
          <div style="text-align: center;" class="m1">
            <h3 class="m0 slideout-number">47</h3>
              <h3 class="m0">States</h3>
          </div>
          <div style="text-align: center;" class="m1">
            <h3 class="m0 slideout-number">48</h3>
              <h3 class="m0">Countries</h3>
          </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="p2">
          <h3 style="color: #FEBC18;" class="mt1">FRESHMAN</h3>
          <div style="display: inline-flex;" class="mb2">
            <h3 class="stat-number-large m0">3.72</h3>
            <h3 class="m0 ml2 bottom">GPA</h3>
          </div>
          <h3 class="m0" style="color: white;">TEST SCORES</h3>
          <p class="m0 mb2" style="color: white; font-style: italic;">Middle 50 percent range</p>
        <!-- Timeline  ACT-->
              <div>
                <p class="m0" style="font-family: antenna-bold">ACT</p>
                <p class="m0 mb1">Composite</p>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 500 50.03" style="enable-background:new 0 0 500 50.03;" xml:space="preserve">
                <style type="text/css">
                	.st0{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-width:50.0291;stroke-linecap:round;}
                	.st1{fill:none;stroke:#636466;stroke-width:2.0012;stroke-linecap:round;}
                	.st2{fill:none;stroke:#231F20;stroke-width:2.0012;stroke-linecap:round;}
                	.st3{clip-path:url(#SVGID_4_);fill:none;stroke:#08BCC1;stroke-width:37.5218;stroke-linecap:round;}
                	.st4{clip-path:url(#SVGID_4_);fill:none;stroke:#231F20;stroke-width:6.2536;}
                </style>
                <g>
                	<defs>
                		<rect id="SVGID_1_" x="8.64" width="482.71" height="50.03"/>
                	</defs>
                	<clipPath id="SVGID_2_">
                		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                	</clipPath>
                	<line class="st0" x1="33.66" y1="25.01" x2="466.34" y2="25.01"/>
                </g>
                <line class="st1" x1="143.04" y1="15.01" x2="143.04" y2="35.02"/>
                <line class="st1" x1="76.4" y1="15.01" x2="76.4" y2="35.02"/>
                <line class="st1" x1="276.43" y1="15.01" x2="276.43" y2="35.02"/>
                <line class="st2" x1="343.18" y1="15.01" x2="343.18" y2="35.02"/>
                <line class="st1" x1="462.62" y1="15.01" x2="462.62" y2="35.02"/>
                <line class="st1" x1="209.67" y1="15.01" x2="209.67" y2="35.02"/>
                <line class="st1" x1="396.48" y1="15.01" x2="396.48" y2="35.02"/>
                <g>
                	<defs>
                		<rect id="SVGID_3_" x="8.64" width="482.71" height="50.03"/>
                	</defs>
                	<clipPath id="SVGID_4_">
                		<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                	</clipPath>
                	<line class="st3" x1="331.3" y1="25.01" x2="372" y2="25.01"/>
                	<circle class="st4" cx="330.79" cy="25.01" r="10.01"/>
                	<circle class="st4" cx="372.57" cy="25.01" r="10.01"/>
                </g>
                </svg>
                <div>
                  <p style="float: left;">0</p>
                  <p style="float: right;">36</p>
                </div>

            </div>

            <!-- Timeline  SAT-->
                  <div class="mt4">
                    <p class="m0" style="font-family: antenna-bold">SAT</p>
                    <p class="m0 mb1">Critical Reading</p>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 500 50.03" style="enable-background:new 0 0 500 50.03;" xml:space="preserve">
                    <style type="text/css">
                      .st0{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-width:50.0291;stroke-linecap:round;}
                      .st1{fill:none;stroke:#636466;stroke-width:2.0012;stroke-linecap:round;}
                      .st2{fill:none;stroke:#231F20;stroke-width:2.0012;stroke-linecap:round;}
                      .st3{clip-path:url(#SVGID_4_);fill:none;stroke:#08BCC1;stroke-width:37.5218;stroke-linecap:round;}
                      .st4{clip-path:url(#SVGID_4_);fill:none;stroke:#231F20;stroke-width:6.2536;}
                    </style>
                    <g>
                      <defs>
                        <rect id="SVGID_1_" x="8.64" width="482.71" height="50.03"/>
                      </defs>
                      <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                      </clipPath>
                      <line class="st0" x1="33.66" y1="25.01" x2="466.34" y2="25.01"/>
                    </g>
                    <line class="st1" x1="143.04" y1="15.01" x2="143.04" y2="35.02"/>
                    <line class="st1" x1="76.4" y1="15.01" x2="76.4" y2="35.02"/>
                    <line class="st1" x1="276.43" y1="15.01" x2="276.43" y2="35.02"/>
                    <line class="st2" x1="343.18" y1="15.01" x2="343.18" y2="35.02"/>
                    <line class="st1" x1="462.62" y1="15.01" x2="462.62" y2="35.02"/>
                    <line class="st1" x1="209.67" y1="15.01" x2="209.67" y2="35.02"/>
                    <line class="st1" x1="396.48" y1="15.01" x2="396.48" y2="35.02"/>
                    <g>
                      <defs>
                        <rect id="SVGID_3_" x="8.64" width="482.71" height="50.03"/>
                      </defs>
                      <clipPath id="SVGID_4_">
                        <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                      </clipPath>
                      <line class="st3" x1="331.3" y1="25.01" x2="372" y2="25.01"/>
                      <circle class="st4" cx="330.79" cy="25.01" r="10.01"/>
                      <circle class="st4" cx="372.57" cy="25.01" r="10.01"/>
                    </g>
                    </svg>
                    <!-- <div>
                      <p style="float: left;">0</p>
                      <p style="float: right;">36</p>
                    </div> -->
<!-- Timeline - SAT - MATH -->
                </div>
                <div>
                  <!-- <p class="m0" style="font-family: antenna-bold">ACT</p> -->
                  <p class="m0 mb1 mt3">Math</p>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 500 50.03" style="enable-background:new 0 0 500 50.03;" xml:space="preserve">
                  <style type="text/css">
                    .st0{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-width:50.0291;stroke-linecap:round;}
                    .st1{fill:none;stroke:#636466;stroke-width:2.0012;stroke-linecap:round;}
                    .st2{fill:none;stroke:#231F20;stroke-width:2.0012;stroke-linecap:round;}
                    .st3{clip-path:url(#SVGID_4_);fill:none;stroke:#08BCC1;stroke-width:37.5218;stroke-linecap:round;}
                    .st4{clip-path:url(#SVGID_4_);fill:none;stroke:#231F20;stroke-width:6.2536;}
                  </style>
                  <g>
                    <defs>
                      <rect id="SVGID_1_" x="8.64" width="482.71" height="50.03"/>
                    </defs>
                    <clipPath id="SVGID_2_">
                      <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                    </clipPath>
                    <line class="st0" x1="33.66" y1="25.01" x2="466.34" y2="25.01"/>
                  </g>
                  <line class="st1" x1="143.04" y1="15.01" x2="143.04" y2="35.02"/>
                  <line class="st1" x1="76.4" y1="15.01" x2="76.4" y2="35.02"/>
                  <line class="st1" x1="276.43" y1="15.01" x2="276.43" y2="35.02"/>
                  <line class="st2" x1="343.18" y1="15.01" x2="343.18" y2="35.02"/>
                  <line class="st1" x1="462.62" y1="15.01" x2="462.62" y2="35.02"/>
                  <line class="st1" x1="209.67" y1="15.01" x2="209.67" y2="35.02"/>
                  <line class="st1" x1="396.48" y1="15.01" x2="396.48" y2="35.02"/>
                  <g>
                    <defs>
                      <rect id="SVGID_3_" x="8.64" width="482.71" height="50.03"/>
                    </defs>
                    <clipPath id="SVGID_4_">
                      <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                    </clipPath>
                    <line class="st3" x1="331.3" y1="25.01" x2="372" y2="25.01"/>
                    <circle class="st4" cx="330.79" cy="25.01" r="10.01"/>
                    <circle class="st4" cx="372.57" cy="25.01" r="10.01"/>
                  </g>
                  </svg>
                  <div>
                    <p style="float: left;">0</p>
                    <p style="float: right;">800</p>
                  </div>

              </div>

        </div>
      </div>
    </div>
    <!--
    <div class="arrow bounce">
      <img src="../images/scroll-down-arrow-white" height="20%" width="20%" alt="">
    </div>  -->
  </div>
</div>
