/* column-varied.css */

/* exposure override */

.story-rhythm {
  margin-bottom: 0px !important;
}

/* wrapper */
.cta-container-fluid {
  margin: 0;
  padding: 3em 5%;
  background: #febc18;
}

.content-columns-varied .col-flex h2,
.content-columns-varied .col-flex p,
.content-columns-varied .col-flex p.audience-readout,
.content-columns-varied .col-flex a {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  text-align: left !important;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.content-columns-varied .col-flex h2[style],
.cta-container-fluid h2 {
  width: 100% !important;
  font-family: 'Arial Black', sans-serif;
  font-size: 3.5em !important;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.0125em;
  @include phone-portrait {
    margin: 0 0 .25em;
    font-size: 3em !important;
  }
}

.content-columns-varied .col-flex h2 span {
  display: inline-block;
  font-family: 'Arial Black', sans-serif;
  font-weight: normal;
  font-weight: 400;
  letter-spacing: -.0125em;
}

.content-columns-varied .col-flex h2 span a {
  color: #ffffff;
}

.content-columns-varied .col-flex p {
  margin: .5em 0 1em 0 !important;
  font-family: 'Arial', sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  font-weight: 400;
  text-transform: none;
}

.content-columns-varied .col-flex p.audience-readout {
 font-size: .9em;
}

/* CSS END */
