footer {
  display: block;
}

footer nav {
  position: relative;
  background: $gray-extra-dark;
}
footer li.nav-item a {
  color: $gray;
  border-right: solid 1px $gray-light;
  span {
    display: block;
    text-align: center;
  }
  :hover {
    background: $brick;
  }
}

footer {
  #social-icons {
    margin: 0 .25em;
    border-right: none;
    flex: none;
    justify-items: right;
    a {
      display: inline-flex;
      padding: .5em;
      margin: 0 .25em;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: $patina;
    }
  }
}
