footer {
  #social-icons {
    margin: 0 .25em;
    border-right: none;
    flex: none;
    justify-items: right;
    a {
      display: inline-flex;
      padding: .5em;
      margin: 0 .25em;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: $patina;
    }
  }
}
