footer {
  .o-grid {
    align-items: center;
    justify-content: space-between;
    background: $gray-extra-dark;
  }
  .o-grid__cell {
  }
}
  a.o-grid-text {
    display: inline-flex;
    margin: 0;
    padding: 1em;
    font-family: 'Antenna', sans-serif;
    font-size: 1.25em;
    line-height: 1.25;
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-right: solid 1px $gray-light;
    transition: .2s;
    span {
      display: block;
      text-align: center;
    }
    :hover {
      background: $brick;
    }
}

footer {
  #social-icons.o-grid__cell {
    margin: 0 .25em;
    border-right: none;
    flex: none;
    justify-items: right;
    a {
      display: inline-flex;
      padding: .5em;
      margin: 0 .25em;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: $patina;
    }
  }
}
