/* ===============================================
HERO IMAGE SECTION ====================================== */

.hero-image{
    background-color: $lake-extra-light;
    background-image:
    linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0, 0.25)),
     url('../../images/home-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.hero-image .hero-text{
    color: #fff;
    text-align: center;
}

.hero-image .hero-text h1{
    font-size: 4.236em;
    font-weight: 500;
    color: $white;
}

.hero-image .hero-text p {
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}

.hero-image .hero-btn{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.hero-image .hero-btn:hover{
    background: #fff;
    color: #000;
}

/* UG ADD */

/* hero-image -- overlay */

.hero-image {
  height: 100vh;
  @include phone-portrait {
    height: 150vh;
  }
}

.hero-image #overview-overlay {
  box-sizing: border-box;
  position: absolute;
  bottom: calc(0 - 50px);
  display: block;
  padding: 3em;
  margin: 0;
  width: 95%;
  border-radius: 3em 3em 0 0;
  background: rgba(255,255,255,.825);
  align-self: flex-end;
  @include tablet-portrait {
    max-height: 300px;
    overflow: scroll;
  }
  @include phone-portrait {
    max-height: 55%;
    padding: 1.5em;
  }
}

.hero-image h1 {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

#overview-text-paragraph > p {
  font-size: 1.35em;
  line-height: 1.8;
  @include tablet-portrait {
    font-size: 1.35em
  }
}

.hero-image #overview-overlay h4 {
  font-family: 'Antenna', sans-serif;
  text-align: center;
  text-transform: uppercase;
  span {
    font-family: 'Antenna Light', sans-serif;
    font-style: italic;
  }
}

/* UG OVERRIDES */

.loyola-experience-inset {
  display: inline;
  img {
  margin: 0;
  padding: 0 20px 0 0;
  min-width: 20em;
  @include tablet-portrait {
    min-width: 12em;
  }
  }
}

.hero-text {
  display: flex;
  align-self: center;
  width: 100% !important;
  min-width: 100% !important;
  @include tablet-portrait {
    display: block;
    position: absolute;
    top: 10%;
    width: 100%;
  }
  @include phone-portrait {
    top: 20%;
  }
}

.hero-image .hero-text h1 {
  width: 100% !important;
  min-width: 100% !important;
  font-size: 4.5em;
  text-shadow: 0px 0px 15px rgba(0,0,0,.5);
  @include phone-portrait {
    font-size: 3em;
  }
}

/* Media Query Breakpoints - Hero Image Section

@media only screen and (max-width: 415px) {}
@media only screen and (max-width: 735px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-wdith: 1200px) {}

*/
