nav#main-nav.top-nav {
  z-index: 10001;
  overflow: hidden;
  @include tablet-portrait {
    display: block;
    overflow: visible;
  }
}

nav, nav ul, nav ul li, nav ul li a {
  box-sizing: border-box;
}

nav {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: $gold;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  @include tablet-portrait {
    flex-direction: column;
  }
}

nav ul {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

li.nav-item {
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  list-style-type: none;
  cursor: pointer;
  @include tablet-portrait {
    width: 100% !important;
  }
}

li.nav-item.brand {
  @include tablet-portrait {
    display: none;
  }
}

li.nav-item a {
  display: block;
  margin: 0;
  padding: 1.5em;
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1em;
  text-align: center;
  color: #000000;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border-right: solid 2px $gold-extra-dark;
  background: $gold;
  transition: .2s;
  @include tablet-portrait {
    border-right: none;
    border-bottom: solid 2px $gold-extra-dark;
  }
}

li.nav-item.brand a:hover {
  background: $gold;
}

li.nav-item a:hover {
  background: darken($gold,15%);
}

li.nav-item.brand {
  @include tablet-portrait {
    display: none;
  }
}

li img.nav-image {
  padding: 0;
  width: 30px;
  height: auto;
}

/* hamburger menu style */
nav#main-nav.top-nav li:last-of-type a {
  padding: .5em;
  font-size: 2em;
  color: white;
  background: $patina;
}

/* hamburger menu icon */
nav#main-nav.top-nav a.icon {
  @include tablet-portrait {
  display: block;
  }
}

/* hide menu-items */
nav#main-nav.top-nav li {
  @include tablet-portrait {
    display: none;
  }
}

/* hamburger menu icon - hide and show - position */
nav#main-nav.top-nav {
  li:last-of-type {
  display: none;
  @include tablet-portrait {
    display: block;
    float: right;
    border-right: none;
    a.icon  {
      float: right;
      display: block;
      border-right: none;
      border-bottom: none;
    }
  }
  }
}

nav#main-nav.top-nav.responsive {
  @include tablet-portrait {
  position: fixed;
  }
}
nav#main-nav.top-nav.responsive a.icon {
  @include tablet-portrait {
  position: absolute;
  right: 0;
  top: 0;
  }
}
nav#main-nav.top-nav.responsive li {
  @include tablet-portrait {
  display: block;
  float: left;
  text-align: left;
  }
}

/* footer nav */

footer nav {
  position: relative;
  background: $gray-extra-dark;
}

footer li.nav-item {
  border-right: solid 1px $gray-dark !important;
  @include tablet-portrait {
    width: 100%;
    border: none;
    border-bottom: solid 1px $gray-dark;
  }
  a {
    border-bottom: none;
  }
}

footer li.nav-item a {
  line-height: 1.35;
  color: $gray;
  border-right: solid 1px $gray-dark;
  background: $gray-extra-dark;
}

footer li.nav-item a:hover {
  background: $patina;
  color: #ffffff;
}

footer li.nav-item a span {
  display: inline-block;
  text-align: center;
}

footer li.nav-item a:hover span {
  background: none;
}

/* social */

footer {
  #social-icons {
    margin: 0 .25em;
    padding: 0 1.5em;
    border-right: none;
    display: flex;
    flex: none;
    justify-items: right;
    align-items: center;
    @include tablet-portrait {
      padding: 1.5em 31%;
    }
    @include phone-portrait {
      padding: 1.5em 10%;
    }
    :hover {
      background: $patina;
    }
    a {
      display: inline-flex;
      align-self: center;
      justify-items: center;
      padding: .5em;
      margin: 0 .35em;
      width: 1.25em;
      height: 1.25em;
      text-decoration: none;
      border-radius: 50%;
      background: $gray-dark;
      transition: .2s;
    }
    i {
      align-self: center;
      width: 100%;
      font-size: 1.5em;
      line-height: 1;
      color: #e1e1e1;
      text-align: center;
    }
  }
}

footer #social-icons a i.fa.fa-facebook {
  margin-left: -1px;
  font-size: 1.4em;
}
footer #social-icons a i.fa.fa-flickr {
  margin-left: 1px;
  font-size: 1.4em;
}
footer #social-icons a i.fa.fa-youtube {
  font-size: 1.4em;
}
footer #social-icons a i.fa.fa-quote-right {
  font-size: 1em;
}
footer #social-icons a i.fa.fa-at {
  margin-left: -1px;
  font-size: 1.4em;
}

/* progress bar */

.progress-container {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20px;
  background: #e1e1e1;
}

.progress-bar {
  margin: 0;
  padding: 0;
  height: 20px;
  background: $patina;
  width: 0%;
}
