nav {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: $gold;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  ul {
    display: block;
    li.nav-item {
      display: inline-block;
      height: 1em;
      padding: .5em;
      font-family: 'Antenna Bold', sans-serif;
      font-size: 1em;
      color: inherit;
      line-height: 1.2;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
        img.nav-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

/* ug - overrides */


li.c-nav__item {
  font-family: 'Antenna Bold', sans-serif;
  font-size: .85em;
  color: #000000 !important;
  text-transform: uppercase;
}

nav.c-nav .c-nav--inline .c-nav__content {
  padding: 0;
}
