/* ===============================================
PATTERN 1 MODULE ====================================== */

.pattern-1-bg {
  background-color: $lake-extra-light;
  background-image:
   url(../../images/pattern-1-bg-academics.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  position: relative;
  margin-bottom: 1000px;
}

.pattern-1-drawer-container {
  background-color: rgba(255,255,2555,.75);
  height: 30vh;
  display: flex;
  width: 100% !important;
  position: fixed;
  bottom: 0;
  border-radius: 16px 16px 0px 0px;
  z-index: 1000;
}

#test-section-1 {
  width: 100%;
  height: 100vh;
  background-color: $lake-dark;
  position: relative;
  margin-bottom: 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#test-section-2 {
  width: 100%;
  height: 100vh;
  background-image:
   url(../../images/pattern-1-bg-learn-by-doing-radio.jpg);
  position: relative;
  margin-bottom: 1000px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#test-section-3 {
  width: 100%;
  height: 100vh;
  background-image:
   url(../../images/pattern-1-bg-study-abroad.jpg);
  background-color: $opus-light;
  position: relative;
  margin-bottom: 1000px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#reveal1 {
				opacity: 0;
				-webkit-transform: scale(0.9);
					 -moz-transform: scale(0.9);
						-ms-transform: scale(0.9);
						 -o-transform: scale(0.9);
								transform: scale(0.9);
				-webkit-transition: all 0.4s ease-in-out;
					 -moz-transition: all 0.4s ease-in-out;
						-ms-transition: all 0.4s ease-in-out;
						 -o-transition: all 0.4s ease-in-out;
								transition: all 0.4s ease-in-out;
			}
			#reveal1.visible {
				opacity: 1;
				-webkit-transform: none;
					 -moz-transform: none;
						-ms-transform: none;
						 -o-transform: none;
								transform: none;
			}

#pattern-1-img-grid-left {
  height: 65%;
  width: 65%;
  background-image:
   url(../../images/pattern-1-bg-student-life-grid-left-lurec-bridge.jpg);
  background-color: maroon;
  background-position: 50% 90%;
}

#pattern-1-img-grid-right {
  height: 65%;
  width: 35%;
  background-color: coral;
}

#pattern-1-img-grid-top-right {
  height: 35%;
  background-image:
   url(../../images/pattern-1-bg-student-life-grid-right-gonclaves.jpg);
  background-color: $gold;
  background-size: contain;
  background-repeat: no-repeat;
}

#pattern-1-img-grid-bottom-right {
  height: 65%;
  background-image:
   url(../../images/pattern-1-bg-student-life-grid-right-mens-soccer.jpg);
  background-color: $lake;
  background-position: 50% 20%;
}

#student-life-stat-source {
  margin-top: -1em;
}

.pattern-1-drawer-content-container { width: 100%; }
.js-carrousel__container.news-carrousel__container[style] {
  margin-left: 2em !important;
  margin-right: 2em !important;
}
#stat-carrousel.o-container--medium { width: 50%; max-width: 50%; }
#stat-carrousel h2, #stat-carrousel h3,
#stat-carrousel h4, #stat-carrousel h5,
#stat-carrousel h6 { display: block; width: 100%; }
#stat-carrousel h3 { text-transform: uppercase !important; }

/* Media Query Breakpoints - Hero Image Section

@media only screen and (max-width: 415px) {}
@media only screen and (max-width: 735px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-wdith: 1200px) {}

*/
