.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.example-tabs-tabs__list {
  margin: 0 0 1.5em 0;
  padding: 0;
}
.example-tabs-tabs__item {
  display: inline-flex;
  margin: 0 .5em 0 0;
}
a.example-tabs-tabs__link {
  font-family: 'Antenna Bold', sans-serif !important;
  margin: 0;
  padding: .75em 1em .6em;
  font-size: 0.8em;
  color: #8D0034;
  border-radius: 4px;
  border: solid 1px #8D0034;
  border-radius: 4px;
  background: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
}
a.example-tabs-tabs__link:hover {
  background: #e1e1e1;
}
[aria-selected="true"].example-tabs-tabs__link {
  background: #8D0034 !important;
  color: #e1e1e1 !important;
  transition: .2s;
}
[aria-selected="true"].example-tabs-tabs__link:hover {
  background: #5D0024 !important;
  color: #ffffff !important;
}
[aria-hidden="true"].example-tabs-tabs__content {
  display: none;
}

/* UG ADD */

#admission-panel.pattern-3-bg {
  height: 100vh;
  z-index: 10000;
}

#admission-panel.pattern-3-bg .example-tabs-tabs__list {
  margin-bottom: 2em;
}

a#label_id_freshman.example-tabs-tabs__link,
a#label_id_transfer.example-tabs-tabs__link {
  font-family: 'Antenna Black', sans-serif !important;
  margin: 0;
  padding: 1em 1.5em;
  font-size: 1em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  border-radius: 8px 0 0 0;
  background: #daa439 !important;
}
a#label_id_transfer.example-tabs-tabs__link {
  border-radius: 0 8px 0 0;
  background: #0096A0 !important;
}

.js-tablist {
  display: block;
}

.example-tabs-tabs__list {
  margin-top: 3.5em !important;
  margin-bottom: 3em !important;
  height: 3em;
}

.example-tabs-tabs__item {
  display: inline-blockflex;
  margin: 0 1.125em 0 0;
  width: 35% !important;
}

a#label_id_freshman.example-tabs-tabs__link,
a#label_id_transfer.example-tabs-tabs__link {
  padding: 1.25em 1em;
  outline: none 0;
}

a#label_id_freshman.example-tabs-tabs__link {
  background: #cb8e3d !important;
}

a#label_id_transfer.example-tabs-tabs__link {
  background: #cb8e3d !important;
}

.example-tabs-tabs__link {
  position: relative;
}

a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"],
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"] {
  padding: 1.25em 1em 3.65em 1em;
  color: #ffffff;
  background: #8D0034 !important;
  outline: none 0;
}

a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"]::before,
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"]::before,
a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"]::after,
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"]::after {
  position: absolute;
  top: 3.5em;
  left: -1.175em;
  bottom: 0;
  content: '';
  width: 50%;
  border-bottom: 2.35em solid #febc18;
  border-bottom-color: #febc18;
  border-right: 2em solid transparent;
}

a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"]::after,
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"]::after {
  left: calc(50% - 1.175em);
  border-left: 2.35em solid transparent;
  border-right: 0;
}
