.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.example-tabs-tabs__list {
  margin: 0 0 1.5em 0;
  padding: 0;
}
.example-tabs-tabs__item {
  display: inline-block;
  margin: 0 .5em 0 0;
}
.content-columns-varied .col-flex a.example-tabs-tabs__link {
  font-family: 'Antenna Bold', sans-serif !important;
  margin: 0;
  padding: .75em 1em .6em;
  font-size: 0.8em;
  color: #8D0034;
  border-radius: 4px;
  border: solid 1px #8D0034;
  border-radius: 4px;
  background: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
}
.content-columns-varied .col-flex a.example-tabs-tabs__link:hover {
  background: #e1e1e1;
}
[aria-selected="true"].example-tabs-tabs__link {
  background: #8D0034 !important;
  color: #e1e1e1 !important;
  transition: .2s;
}
[aria-selected="true"].example-tabs-tabs__link:hover {
  background: #5D0024 !important;
  color: #ffffff !important;
}
.example-tabs-tabs__content {
  background: #f2f2f2;
  padding: 1em;
}
[aria-hidden="true"].example-tabs-tabs__content {
  display: none;
}
.content-columns-varied .col-flex .example-tabs-tabs__content img {
  margin: 0 0 1.25em 0 !important;
}
.content-columns-varied .col-flex .example-tabs-tabs__content h4 {
  display: inline-block;
  margin: 0;
  width: 100%;
}
.content-columns-varied .grid-wrapper .col-flex .example-tabs-tabs__content p {
  margin: .5em 0;
  font-size: 1.015em !important;
}
.content-columns-varied .grid-wrapper .col-flex .example-tabs-tabs__content p a {
  font-size: .85em !important;
}
