/* grid backgrounds */

#test-section-1[style] {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

#pattern-1-img-grid-left,
#pattern-1-img-grid-top-right,
#pattern-1-img-grid-bottom-right {
  background-size: cover;
  border: solid 2em #ffffff;
  border-left: none ;
}

#pattern-1-img-grid-top-right,
#pattern-1-img-grid-bottom-right {
  border-left: none ;
  border-right: none;
}

#pattern-1-img-grid-bottom-right {
  border-top: none;
}

.caption-overlay {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 25%;
  border-top: solid 10px $maroon;
  background: rgba(0,0,0,.7);
  align-items: center;
  p {
    padding: 1em;
    font-size: 1em;
    line-height: 1.5;
    color: $gray-light;
  }
}

.stat-overlay.bg-gold {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  width: 25%;
  border-radius: 0 0 1.5em 0;
  background: $gold;
  align-items: center;
}

.caption-overlay p,
.stat-overlay.bg-gold h2,
.stat-overlay.bg-gold h6 {
  width: 100%;
  line-height: 1.5;
}

.stat-overlay.bg-gold h2 {
  text-align: left;
  line-height: 1.25;
}
/* nav */

nav.c-nav {
  position: absolute;
  height: 56px;
  display: block;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

/* hero-image -- overlay */

.hero-image {
  height: 100vh;
}

.hero-image #overview-overlay {
  position: absolute;
  /* top: 56px; */
  bottom: 0;
  padding: 3em;
  margin: 0;
  width: auto;
  border-radius: 3em 3em 0 0;
  background: rgba(255,255,255,.7);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,.65);

}

#table-numbers h4,
.hero-image #overview-overlay h4 {
  font-family: 'Antenna', sans-serif;
  text-align: center;
  text-transform: uppercase;
  span {
    font-family: 'Antenna Light', sans-serif;
    font-style: italic;
  }
}

.loyola-experience-inset {
  display: inline;
  img {
  margin: -130px 20px 0 40px;
  width: 15em;
  }
}

/* typography */

/* fluid typography */

.hero-text {
  position: absolute;
  top: 8em;
}

.hero-image .hero-text h1 {
  font-size: 4.5em;
  text-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.leadin {
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1.125em;
  text-transform: uppercase;
}

.c-table__cell h6 span {
  display: inline-table;
  margin: auto auto auto 5px;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  border-radius: .75em;
  background: #cb8e3d;
}

.c-table__cell h6 span span {
  display: table-cell;
  margin: auto auto;
  padding: .25em;
  width: 100%;
  font-family: 'Antenna Bold', sans-serif;
  font-size: .5em;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}


/* tables */

#id_freshman[style],
#id_transfer[style] {
  height: auto !important;
}

.requirements-table,
.requirements-table.deadlines-table {
  margin: 1em 0 2em;
  height: 100%;
}

.requirements-table h6,
.requirements-table.deadlines-table h6 {
  box-sizing: border-box;
  display: block;
  padding: var(--spacing-small);
  font-size: .8125em;
  width: 100%;
  height: 50%;
}

.requirements-table .c-table__cell span.key-symbol,
.requirements-table.deadlines-table .c-table__cell span.key-symbol {
  height: 50%;
}

.requirements-table h3,
.requirements-table.deadlines-table h3 {
  margin: 0 0 .5em 0;
}

.requirements-table p.footnote, #admission-panel p.footnote,
.requirements-table.deadlines-table p.footnote {
  margin: .25em 0 .5em;
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.125 !important;
}

/* tabs */

.js-tablist {
  display: block;
}

.example-tabs-tabs__list {
  margin-bottom: 1em !important;
  height: 3em;
}

.example-tabs-tabs__item {
  display: inline;
  margin: 0 1.125em 0 0;
  width: auto !important;
}

a#label_id_freshman.example-tabs-tabs__link,
a#label_id_transfer.example-tabs-tabs__link {
  padding: 1.25em 1em;
  outline: none 0;
}

a#label_id_freshman.example-tabs-tabs__link {
  background: #cb8e3d !important;
}

a#label_id_transfer.example-tabs-tabs__link {
  background: $patina !important;
}

.example-tabs-tabs__link {
  position: relative;
}

a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"],
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"] {
  padding: 1.25em 1em 3.65em 1em;
  color: #ffffff;
  background: #8D0034 !important;
  outline: none 0;
  z-index: +5;
}

a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"]::before,
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"]::before,
a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"]::after,
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"]::after {
  position: absolute;
  top: 3.5em;
  left: -1.175em;
  bottom: 0;
  content: '';
  width: 50%;
  border-bottom: 2.35em solid #febc18;
  border-bottom-color: #febc18;
  border-right: 2em solid transparent;
}

a#label_id_freshman.example-tabs-tabs__link[aria-selected="true"]::after,
a#label_id_transfer.example-tabs-tabs__link[aria-selected="true"]::after {
  left: calc(50% - 1.175em);
  border-left: 2.35em solid transparent;
  border-right: 0;
}

/* drawer */

.pattern-1-drawer-container {
  border-radius: 2em 2em 0 0;
}
